<article class="bg-image">
  <div class="bg-image-color">
    <div class="container col-xxl-8 px-2 py-5 d-flex">
      <div class="d-flex justify-content-between gap-5 flex-wrapper-2">
        <div class="d-flex flex-column gap-4 align-items-baseline col-xl-7">
          <div class="p-marriage-title mb-3">
            <span class="marriage-title">Wedding </span>Ideas And<span
              class="marriage-title"
            >
              Expert Advice</span
            >
          </div>
          <p class="paragraph fw-bold text-black-80 mt-5 mb-5">
            Get inspired with creative ideas, expert advice and amazing real
            weddings
          </p>
          <p class="lead paragraph lh-base space-left2 text-black-50">
            Whether you're a fan of dreamy white weddings or care-free bohemian
            celebrations, you'll find tips, tricks, and inspiration to guide you
            through every stage of your wedding manager. Who better to guide you
            than some of our illustrious experts like Mary Berry and Bobbi
            Brown?
          </p>
          <button class="view-btn view-btn-active">Get Started</button>
        </div>
        <div>
          <div class="img-overlay m-5">
            <img
              src="../../../assets/images/image 20.png"
              alt=""
              class="img-overlay-2 img-over img-responsive"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<main>
  <img src="../../../assets/images/flower-top.png" alt="" class="float-top" />
  <div
    class="d-flex flex-column justify-content-center align-items-center booking-container"
  >
    <div class="p-marriage-title">
      Find the Best
      <span class="marriage-title">Vendor</span> in Islamabad
    </div>
    <div class="m-description">
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    </div>
    <!-- <div class="d-flex flex-wrap justify-content-center gap-5">
      <button class="state-btn active-btn">Catering</button>
      <button class="state-btn">Photographer</button>
      <button class="state-btn">makeup Artist</button>
      <button class="state-btn">Decor</button>
      <button class="state-btn">Musician</button>
      <button class="state-btn">Mehndi Artist</button>
    </div> -->

    <div>
      <mat-tab-group class="d-flex flex-wrap justify-content-center">
        <mat-tab label="Catering">
          <div
            class="d-flex justify-content-around mb-4 gap-4 flex-wrap card-container"
          >
            <app-calendar-carousel></app-calendar-carousel>
            <app-calendar-carousel class="display-component"></app-calendar-carousel></div
        ></mat-tab>
        <mat-tab label="Photographer">
          <div
            class="d-flex justify-content-around mb-4 gap-4 flex-wrap card-container"
          >
            <app-calendar-carousel></app-calendar-carousel>
            <app-calendar-carousel class="display-component"></app-calendar-carousel></div
        ></mat-tab>
        <mat-tab label="Makeup Artist">
          <div
            class="d-flex justify-content-around mb-4 gap-4 flex-wrap card-container"
          >
            <app-calendar-carousel></app-calendar-carousel>
            <app-calendar-carousel class="display-component"></app-calendar-carousel></div
        ></mat-tab>
        <mat-tab label="Decor">
          <div
            class="d-flex justify-content-around mb-4 gap-4 flex-wrap card-container"
          >
            <app-calendar-carousel></app-calendar-carousel>
            <app-calendar-carousel class="display-component"></app-calendar-carousel>
          </div>
        </mat-tab>
        <mat-tab label="Musician">
          <div
            class="d-flex justify-content-around mb-4 gap-4 flex-wrap card-container"
          >
            <app-calendar-carousel></app-calendar-carousel>
            <app-calendar-carousel class="display-component"></app-calendar-carousel></div
        ></mat-tab>
        <mat-tab label="Mehndi Artist">
          <div
            class="d-flex justify-content-around mb-4 gap-4 flex-wrap card-container"
          >
            <app-calendar-carousel></app-calendar-carousel>
            <app-calendar-carousel class="display-component"></app-calendar-carousel></div
        ></mat-tab>
      </mat-tab-group>
    </div>

    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Calendar Booking Container !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <!-- <div
      class="d-flex justify-content-around mt-5 mb-4 gap-4 flex-wrap card-container"
    >
      <app-calendar-carousel></app-calendar-carousel>
      <app-calendar-carousel></app-calendar-carousel>
    </div> -->
    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <button class="view-btn m-3">View All</button>
  </div>
  <!-- <img
    src="../../../assets/images/flower-bottom.png"
    alt="Image Preview"
    class="flower-bottom"
  /> -->
</main>
