<article class="bg-image">
  <div class="bg-image-color">
    <div class="container col-xxl-8 px-2 py-5 d-flex">
      <div class="d-flex justify-content-between gap-5 flex-wrapper-2">
        <div class="d-flex flex-column gap-4 align-items-baseline col-xl-7">
          <div class="p-marriage-title mb-3">
            <span class="marriage-title">Wedding </span>Ideas And<span
              class="marriage-title"
            >
              Expert Advice</span
            >
          </div>
          <p class="paragraph fw-bold text-black-80 mt-5 mb-5">
            Get inspired with creative ideas, expert advice and amazing real
            weddings
          </p>
          <p class="lead paragraph lh-base space-left2 text-black-50">
            Whether you're a fan of dreamy white weddings or care-free bohemian
            celebrations, you'll find tips, tricks, and inspiration to guide you
            through every stage of your wedding manager. Who better to guide you
            than some of our illustrious experts like Mary Berry and Bobbi
            Brown?
          </p>
          <button class="view-btn view-btn-active">Get Started</button>
        </div>
        <div>
          <div class="img-overlay m-5">
            <img
              src="../../../assets/images/image 20.png"
              alt=""
              class="img-overlay-2 img-over img-responsive"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<main>
  <img src="../../../assets/images/flower-top.png" alt="" class="float-top" />
  <div
    class="d-flex flex-column justify-content-center align-items-center booking-container"
  >
    <div class="p-marriage-title">
      Find the Best
      <span class="marriage-title">Vendor</span> in Islamabad
    </div>
    <div class="m-description">
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    </div>

    <ul class="nav nav-pills mb-3 d-flex gap-4" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link state-btn active"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >
          Catering
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link state-btn"
          id="pills-profile-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile"
          type="button"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >
          Photographer
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link state-btn"
          id="pills-contact-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-contact"
          type="button"
          role="tab"
          aria-controls="pills-contact"
          aria-selected="false"
        >
          Makeup Artist
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link state-btn"
          id="pills-title-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-title"
          type="button"
          role="tab"
          aria-controls="pills-title"
          aria-selected="false"
        >
          Decor
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
      >
        <app-catering></app-catering>
      </div>
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
      >
        <app-calendar-carousel></app-calendar-carousel>
      </div>
      <div
        class="tab-pane fade"
        id="pills-contact"
        role="tabpanel"
        aria-labelledby="pills-contact-tab"
      >
        <app-makeup-artist></app-makeup-artist>
      </div>
      <div
        class="tab-pane fade"
        id="pills-title"
        role="tabpanel"
        aria-labelledby="pills-title-tab"
      >
        <app-calendar-carousel></app-calendar-carousel>
      </div>
    </div>

    <button class="view-btn m-3">View All</button>
  </div>
</main>
