.primary-container {
  padding-top: 7rem !important;
  padding-bottom: 5rem !important;
  border-bottom: 1px solid #777777;
}

.bg-color {
  background-color: #fb6f10;
  color: #fff;
  padding: 30px 10px;
  border-radius: 10px !important;
  margin-bottom: 30px !important;
  width: 100%;
  height: 150px;
}

.view-btn {
  padding: 10px 20px !important;
  border-radius: 20px !important;
  background-color: #fff;
  color: #fb6f10;
  border: none !important;
  font-weight: 600;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
   width: fit-content !important;
    padding-right: 15px;
    padding-left: 15px;
}

.h4-f-t {
  border-bottom: 1px solid #fb6f10 !important;
  padding-bottom: 2px;
  font-weight: 500;
  margin-bottom: 20px !important;
}

a,
li {
  display: block;
  padding: 5px 0px;
  text-decoration: none !important;
  color: #272727 !important;
  //   width: 550px;
  width: max-content !important;
}

hr {
  border-top: 1px solid #777777 !important;
}

@media (max-width: 880px) {
  li {
    width: max-content !important;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
